img { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
    width:350px; 
}
input[type=text]{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width:450px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
a {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width: 120px;
}
a:hover, a:active {
    text-decoration: underline;
}
li {
	display: inline;
}